

@mixin grid{
    display: grid;
    font-family:  "Poppins", sans-serif;

}

@mixin flex{
    display: flex;
    flex-wrap: wrap;
}

@mixin titulos{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}